.textarea{
  display: flex;
  flex-direction: column;
  color: var(--main);
  margin-bottom: 12px;
  width: 100%;
  margin-right: 8px;
}

.textarea__text{
  height: 250px;
}

.textarea__label, .checkbox__label{
  color: var(--main);
  font-weight: bold;
}

.textarea__text{
  width: 100%;
  padding: 8px 16px 8px 16px;
  background-color: var(--bg__color);
  border: 2px solid var(--grey);
  border-radius: 4px;
}